body::before {
    display: block;
    content: '';
    height: 50px;
}

body {
    font-family: 'Nunito', sans-serif;
}

/*Navigation Menu*/
#navbar {
    background-color: #fae1f9;
}

.nav-link {
    color: #3d0226;
}

.navbar-myname {
    text-decoration: none;
    color: #3d0226;
}

#burger-menu {
    color: #3d0226;
}

/*Introduction*/
#introduction {
    color: #4d0227;
}

.bold {
    font-weight: 700;
}

.italicise {
    font-style: italic;
}

/*Accordion*/
#accordion {
    background-color: #4d0227;
    color: #4d0227;
}

#certificates-accordion {
    font-weight: 700;
    color: #4d0227;
}

#experience-accordion {
    font-weight: 700;
    color: #4d0227;
}

#hobbies-accordion {
    font-weight: 700;
    color: #4d0227;
}

/*Footer*/
#footer {
    background-color: #0f000a;
}

#linkedin {
    color: #fae1f9;
}

#github {
    color: #fae1f9;
}

#footer-arrow {
    color: #fae1f9;
}