body::before {
    display: block;
    content: '';
    height: 50px;
}

body {
    font-family: 'Nunito', sans-serif;
}

/*Navigation Menu*/
#navbar {
    background-color: #fae1f9;
}

.nav-link {
    color: #3d0226;
}

.navbar-myname {
    text-decoration: none;
    color: #3d0226;
}

#burger-menu {
    color: #3d0226;
}

/*Stay In Touch*/
.contact-header {
    color: #4d0227;
    font-weight: 700;
    font-size: 100px;
}

/*Contact Modal Buttons*/
#contact-btn {
    background-color: #4d0227;
    color: #fae1f9;
    font-size: 20px;
}

#contact-submit-btn {
    background-color: #4d0227;
    color: #fae1f9;
}

/*Footer*/
#footer {
    background-color: #0f000a;
}

#linkedin {
    color: #fae1f9;
}

#github {
    color: #fae1f9;
}

#footer-arrow {
    color: #fae1f9;
}